[ENV]
SPREADSHEET_KEY = 13rGuFf3XTLIjJTaIxtNGGcEgEwlow5VFd76lu5P-_9k
SHEET_NAME = シート1
OUTPUT_DIR = output_cards
IMAGE_TEMPLATE_PATH=C:\Users\てつや\Pictures\イベント\ring_IT部\チケット画像生成\IMG_0140.JPG
IMAGE_SIZE=1080,1920
NAME_REL_REFT_UNDER_POS=472,222
ID_REL_LEFT_UNDER_POS=327,213
QR_POS =747,1571
QR_SIZE = 232     
KEYFILE=adress-in-image-to-map-api-cc4067054392.json